.DS_Store
.idea
.vscode
*.vcd
runs
tt_submission
src/user_config.tcl
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
DESIGN_NOTES.md
tt
.venv
.designinit
setup_log.txt
working_instructions.txt